<form name="form2" action="controllerAlterar" method="post">
    <input type="hidden" name="id" id="id" value="{{id}}"><br>
    <input type="text" name="produto" id="produto"  value="{{produto}}"><br>
    <input type="text" name="preco" id="preco"  value="{{preco}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="alterar"><br>
</form>