<form name="form1" action="controllerForm" method="post">
    <input type="hidden" name="id" id="id" placeholder="id:"><br>
    <input type="text" name="produto" id="produto" placeholder="produto:"><br>
    <input type="text" name="preco" id="preco" placeholder="preco:"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="add"><br>
</form>